.tag-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.category-tag {
    background: linear-gradient(135deg, var(--primary-gold-light), var(--primary-gold));
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}